<!doctype html>
<html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <html class="no-js"> <![endif]-->
    <head>
    <meta charset="utf-8"><!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <title>Metro Mobile HTML Template</title>
    <meta content="Your meta description" name="description">
    <meta content="No HTML is allowed in here." name="keywords">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
    
    <!--[if IE]><link rel="stylesheet" type="text/css" href="css/font-awesome-ie7.css"><![endif]-->
    
    <!-- Shortcut Logos -->
    <link href="images/demo_content/metroentrance1.jpg" rel="apple-touch-icon-precomposed" sizes="114x114"><!-- Home logo -->
    <link href="images/demo_content/metroentrance57.jpg" rel="shortcut icon"><!-- Fav icon logo-->
    <!-- /Shortcut Logos -->
    
    <!-- Style -->
    <link href='css/style.css' id='styles-css' media='all' rel='stylesheet' type='text/css'>
    <!-- / Style -->
    
    <!-- Scripts -->
	<script src='http://code.jquery.com/jquery-1.8.0.min.js' type='text/javascript'></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src='js/bootstrap.min.js' type='text/javascript'></script>
    <script src='js/spinner.js' type='text/javascript'></script>
    <script src='js/jquery.mobile.customized.min.js' type='text/javascript'></script>
    <script src='js/vendor/modernizr-2.6.1.min.js' type='text/javascript'></script>
    <!-- / Scripts -->
</head>
<body>
    <!-- Loading Message -->
    <div class="spinnerbg">
    <div id="spinner">
        <span id="first" class="ball"></span>
        <span id="second" class="ball"></span>
        <span id="third" class="ball"></span>
    </div>
    </div>
    <!-- /Loading Message -->
    	    
      <!-- Wrapper -->        	
      <div class="wrapper">  
      	<!-- Scrollable -->        
        <div class="scrollable">
        	<!-- Header -->   
            <header>
                    <h1>Icons</h1>
                    <a href="javascript:history.back(-1)" class="back-button linkbut"></a>
                    <div class="line"></div>
            </header>
            <!-- /Header -->   
     
     
     		<!-- Middle Content -->   
            <div class="MiddleContent">
                    <i class="icon-glass demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-music demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-search demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-envelope demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-heart demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-star demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-star-empty demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-user demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-film demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-th-large demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-th demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-th-list demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-ok demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-remove demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-zoom-in demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-zoom-out demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-off demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-signal demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-cog demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-trash demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-home demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-file demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-time demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-road demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-download-alt demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-download demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-upload demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-inbox demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-play-circle demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-repeat demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-refresh demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-list-alt demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-lock demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-flag demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-headphones demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-volume-off demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-volume-down demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-volume-up demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-qrcode demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-barcode demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-tag demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-tags demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-book demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-bookmark demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-print demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-camera demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-font demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-bold demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-italic demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-text-height demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-text-width demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-align-left demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-align-center demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-align-right demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-align-justify demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-list demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-indent-left demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-indent-right demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-facetime-video demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-picture demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-pencil demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-map-marker demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-adjust demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-tint demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-edit demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-share demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-check demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-move demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-step-backward demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-fast-backward demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-backward demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-play demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-pause demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-stop demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-forward demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-fast-forward demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-step-forward demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-eject demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-chevron-left demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-chevron-right demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-plus-sign demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-minus-sign demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-remove-sign demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-ok-sign demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-question-sign demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-info-sign demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-screenshot demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-remove-circle demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-ok-circle demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-ban-circle demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-arrow-left demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-arrow-right demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-arrow-up demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-arrow-down demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-share-alt demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-resize-full demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-resize-small demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-plus demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-minus demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-asterisk demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-exclamation-sign demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-gift demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-leaf demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-fire demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-eye-open demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-eye-close demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-warning-sign demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-plane demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-calendar demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-random demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-comment demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-magnet demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-chevron-up demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-chevron-down demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-retweet demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-shopping-cart demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-folder-close demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-folder-open demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-resize-vertical demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-resize-horizontal demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-bar-chart demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-twitter-sign demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-facebook-sign demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-camera-retro demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-key demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-cogs demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-comments demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-thumbs-up demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-thumbs-down demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-star-half demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-heart-empty demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-signout demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-linkedin-sign demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-pushpin demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-external-link demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-signin demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-trophy demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-github-sign demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-upload-alt demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-lemon demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-phone demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-check-empty demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-bookmark-empty demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-phone-sign demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-twitter demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-facebook demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-github demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-unlock demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-credit-card demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-rss demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-hdd demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-bullhorn demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-bell demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-certificate demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-hand-right demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-hand-left demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-hand-up demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-hand-down demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-circle-arrow-left demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-circle-arrow-right demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-circle-arrow-up demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-circle-arrow-down demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-globe demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-wrench demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-tasks demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-filter demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-briefcase demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-fullscreen demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-group demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-link demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-cloud demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-beaker demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-cut demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-copy demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-paper-clip demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-save demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-sign-blank demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-reorder demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-list-ul demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-list-ol demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-strikethrough demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-underline demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-table demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-magic demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-truck demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-pinterest demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-pinterest-sign demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-google-plus-sign demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-google-plus demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-money demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-caret-down demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-caret-up demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-caret-left demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-caret-right demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-columns demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-sort demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-sort-down demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-sort-up demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-envelope-alt demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-linkedin demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-undo demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-legal demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-dashboard demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-comment-alt demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-comments-alt demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-bolt demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-sitemap demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-umbrella demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-paste demoicons" style="font-size:20px; color:#000000"></i>
                    <i class="icon-user-md demoicons" style="font-size:20px; color:#000000"></i>
            </div>
            <!-- Middle Content -->   
        </div>
        <!-- Scrollable -->   
     </div>
     <!-- Wrapper -->   
                
                
	<script src='js/loadanim.js' type='text/javascript'></script><!-- Loading Animation -->
	<script src='js/main.js' type='text/javascript'></script><!-- Main Styles -->
	<script src='js/vendor/zepto.min.js' type='text/javascript'></script>
    
</body>
</html>